{% extends "layout.html" %}

{% block pageTitle %}
Index – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Operator reports portal
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}
    <p>
      This prototype has been built to detail how the Operator reports portal could look using the existing <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>.
    </p>
    <h2 class="govuk-heading-m">Intended audience</h2>
    <p>
      The service is intended for use by professional (office admin) public users.
    </p>

    <h2 class="govuk-heading-m">About this prototype</h2>

    <p>This prototype is for illustration only. It allows you to jump to any page in the prototype to review proposed layout and content.</p>

    <h2 class="govuk-heading-m">Design questions waiting on a response</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>clarify what risk score labels mean? e.g. 01, 10 etc <br> <strong class="govuk-tag govuk-tag--yellow">
          DVSA to confirm
        </strong></li>
      <li>clarify selectable form values; Report type, Sort order and Vehicle type <br> <strong class="govuk-tag govuk-tag--yellow">
            DVSA to confirm
        </strong> </li>

              <li>clarify what information is required for Footer: Contact us, Cookies and Terms and conditions<br><strong class="govuk-tag govuk-tag--yellow">
                    DVSA to confirm
                </strong> </li>

                <li>clarify agreement on proposed change 'Email address' & 'Confirm email address' to 'Email recipient' which can then be changed <br><strong class="govuk-tag govuk-tag--yellow">
                      DVSA & Atos to confirm
                  </strong> </li>

    </ul>



    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Answered design questions
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul class="govuk-list govuk-list--bullet">

            <li>what is the official name of the service?<br>
              <strong class="govuk-tag">DVSA Reply</strong> 08/07/22<br> <strong>'Operator reports portal' can be used for now</strong> </li>

            <li>(existing service) confirmation page, where does 'Return to My Services' go after a report is successfully generated?<br>
              <strong class="govuk-tag">DVSA Reply</strong> 08/07/22<br> <strong>Not required</strong>
            </li>

            <li>(existing service) confirmation page, where does continue go after a report is successfully generated?<br>
              <strong class="govuk-tag">DVSA Reply</strong> 08/07/22<br> <strong>Not required can use 'Back' button as proposed design</strong>
            </li>

            <li>(existing service) confirmation page, what happends when you click exit - is this the same as ?<br>
              <strong class="govuk-tag">DVSA Reply</strong> 08/07/22<br> <strong>Yes, this will be resolved by a new 'Signout' link in header</strong>
            </li>

            <li> is 'Signout' a 2 step process? <br>
              <strong class="govuk-tag">DVSA Reply</strong> 08/07/22<br> <strong>Yes, a confirmation page will be added so it's clear to users they are only loging out of the 'Operator reports portal'</strong>
            </li>

            <li>will there be a breadcrumb in the design? <br>
            <strong class="govuk-tag">DVSA Reply</strong> 08/07/22<br> <strong>Not required</strong>
          </li>

            <li>where does My services link to? <br>
              <strong class="govuk-tag">DVSA Reply</strong> 08/07/22<br> <strong>Not required</strong>
            </li>

            <li>do we need a Login page? <br>
              <strong class="govuk-tag">DVSA Reply</strong> 08/07/22<br> <strong>Not required</strong> handled via VOL
            </li>
          </ul>
        </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          To do
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <ul class="govuk-list govuk-list--bullet">
      <li>Add Signout to header<br>
        <strong class="govuk-tag govuk-tag--blue">
  Pending ATOS Designer
</strong> 08/07/22<br><strong> Simon will check GDS guidance and also look at other services for correct placement and then add to design</strong></li>

<li>Create example of 'Operator compliance risk score' showing paginaton><br>
  <strong class="govuk-tag govuk-tag--blue">
Pending ATOS Designer
</strong> 08/07/22<br><strong> Simon to mock up page</strong></li>

<li>Add Signout to header<br>
  <strong class="govuk-tag govuk-tag--blue">
Pending ATOS Designer
</strong> 08/07/22<br> <strong>Simon to mock up Signout confirmation page</strong></li>

    </ul>
</div>
      </div>

    </div>










    <h2 class="govuk-heading-m">Examples</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/reports">Operator reports home - Driver & Vehicle Standards Agency </a> - Version A
      </li>
      <li>
        <a href="/reports-v2">Operator reports home - Driver & Vehicle Standards Agency </a> - Version B
      </li>

      <li>
        <a href="/ocrs-risk-score">Operator compliance risk score</a>
      </li>
      <li>
        Operator compliance risk score - with paginaton
      </li>
      <li>
        <a href="/ocrs-risk-report">OCRS - detailed report</a>
      </li>
      <li>
        <a href="/ocrs-risk-report-error">ORCS - detailed report - error</a>
      </li>
      <li>
        <a href="confirmation-risk-report">OCRS - detailed report - success</a>
      </li>
      <li>
        <a href="/vth-report">Vehicle test history (maintenance reports)</a>
      </li>
      <li>
        <a href="/vth-report-error">Vehicle test history (maintenance reports) - error</a>
      </li>
      <li>
        <a href="/confirmation-vth-report">Vehicle test history (maintenance reports) - success</a>
      </li>
      <li>
        <a href="/ve-report">Encounter reports</a>
      <li>
        <a href="/ve-report-error">Encounter reports - error</a>
      </li>
      <li>
        <a href="/confirmation-ve-report">Encounter reports - success page</a>
      </li>
      <li>
        Signout confirmation
      </li>
      <li>
        <a href="/signout">Signout</a>
      </li>

      <li>
        <a href="https://design-system.service.gov.uk/patterns/cookies-page/">Cookies</a>
      </li>
      <li>
        <a href="/contact">Contact us</a>
      </li>
      <li>
        Terms and conditions
      </li>
      <li>
        <a href="problem-with-service">There is a problem with the service - Bad request exception</a>
      </li>
      <li>
        <a href="service-unavailable">Service unavailable - known duration</a>
      </li>
      <li>
        <a href="service-unavailable-unknown">Service unavailable - unknown duration</a>
      </li>
      <li>
        <a href="timeout">Service timeout page</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
