{% extends "layout.html" %}
{% block pageTitle %}
Operator Compliance Risk Score detailed report – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#passport-issued-year">Your Score date must be in the past</a>
      </li>

    </ul>
  </div>
</div>


<span class="govuk-caption-l">Holdridge Road Haulage Services Ltd</span>
<h1 class="govuk-heading-l">OCRS detailed report</h1>

  <p class="govuk-body-l">By filling out the details below, you can request your Operator Compliance Risk Score detailed report.


<p class="govuk-body">Note: you can choose to request a report using one of your Operator License numbers, or all of them.</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with your OCRS reports
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Email</h3>
    <ul class="govuk-list">
      <li><a class="govuk-link" href="#">name@example.com</a></li>
      <li>We aim to respond within 2 working days.</li>
    </ul>
  </div>
</details>

<form action="/confirmation-risk-report" method="post" class="form">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Request a OCRS detailed report</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">All fields are required</th>
      <th scope="col" class="govuk-table__header"></th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Choose your Operator License number:</th>
      <td class="govuk-table__cell">  <select class="govuk-select" id="sort" name="sort">
          <option value="updated" selected>Please select</option>
          <option value="OD0257202">OD 0257202</option>
          <option value="OM1086785">OM 1086785</option>
          <option value="PB1053759">PB 1053759</option>
        </select>

<p></p>

  <div class="govuk-checkboxes__item govuk-checkboxes--small">
    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked="checked">
    <label class="govuk-label govuk-checkboxes__label" for="organisation">
      Select all your Operator License numbers
    </label>
  </div>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Score date:</th>
      <td class="govuk-table__cell">
        <div class="govuk-form-group govuk-form-group--error">
        <p id="passport-issued-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Your Score date must be in the past
  </p>
        <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="passport-issued-day" name="passport-issued-day" type="text" value="5" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="passport-issued-month" name="passport-issued-month" type="text" value="9" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="passport-issued-year" name="passport-issued-year" value="2023" type="text" inputmode="numeric">
        </div>
      </div>
      </td>

    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Positive events included:</th>
      <td class="govuk-table__cell">
      <div class="govuk-radios__item govuk-radios--small">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month" checked="checked">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item govuk-radios--small">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          No
        </label>
      </div>
      </td>

    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Report format:</th>
      <td class="govuk-table__cell">

        <div class="govuk-checkboxes__item govuk-checkboxes--small">
        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD" checked="checked">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
          PDF
        </label>
      </div>

      <div class="govuk-checkboxes__item govuk-checkboxes--small">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          XLS
        </label>
      </div></td>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Report recipient email address:</th>
        <td class="govuk-table__cell">  <input class="govuk-input" id="ocrs-report-email" name="ocrs-report-email" type="text" value="jonathan.swift@hrhservicesltd.co.uk">
      </td>


      </tbody>
      </table>

      <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
      Submit
      </button>

      <a class="govuk-link" href="#">Cancel</a>
      </div>

      </form>
      {% endblock %}
