{% extends "layout.html" %}

{% block pageTitle %}
Operator Compliance Risk Score – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<span class="govuk-caption-l">Holdridge Road Haulage Services Ltd</span>
<h1 class="govuk-heading-l">Operator Compliance Risk Score</h1>

<p class="govuk-body-l">Operator Compliance Risk Score (OCRS) is a mechanism used at roadside checks to calculate the likelihood of an operator being non-compliant.

  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
      It is a risk based scoring system and is used as a guide only. It is not a mechanism for rating operators. Seperate scores are produced for Roadworthiness and Traffic categories.
  </strong>
</div>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with your Operator Compliance Risk score reports
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Email</h3>
    <ul class="govuk-list">
      <li><a class="govuk-link" href="#">name@example.com</a></li>
      <li>We aim to respond within 2 working days.</li>
    </ul>
</div>
</details>


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Your current Operator Compliance Risk Scores</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Your operator licence</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Road worthiness score</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Overall traffic score</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">OD 0257202</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">
          Green
        </strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">
          Green
        </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">OM 1086785</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--red">
          Red
        </strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--red">
          red
        </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">PB 1053759</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--orange">
          amber
        </strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--orange">
          amber
        </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">OM 8754332</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--blue">
          blue
        </strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--blue">
          blue
        </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">PB 0095521</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">
          grey
        </strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">
          Grey
        </strong></td>
    </tr>
  </tbody>
</table>

<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Print this page
</button>
{% endblock %}
