{% extends "layout.html" %}

{% block pageTitle %}
Homepage – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<span class="govuk-caption-l">Holdridge Road Haulage Services Ltd</span>
<h1 class="govuk-heading-l">Driver & Vehicle Standards Agency reports</h1>

  <form class="form" action="/show-report-answer" method="post">

  {{ govukRadios({
    idPrefix: "show-report",
    name: "show-report",
    fieldset: {
      legend: {
        text: "What do you want to do?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
  hint: {
    text: ""
  },
    items: [
      {
        value: "ocrs-score",
        text: "View your current Operator Compliance Risk Score (OCRS)",
        hint:
        { text: ""
      },
        checked: checked("show-report", "ocrs-report")
      },
      {
        divider: "or"
      },
      {
        value: "ocrs-risk",
        text: "Request a Operator Compliance Risk Score (OCRS) detailed report",
        hint:
        { text: ""
      },
        checked: checked("show-report", "ocrs-risk")
      },
      {
        value: "vth-report",
        text: "Request a Vehicle Test History (maintenance) report",
        hint:
        { text: ""
      },
        checked: checked("show-report", "vth-report")
      },
      {
        value: "ve-report",
        text: "Request a Vehicle Encounter report",
        hint:
        { text: ""
      },
        checked: checked("show-report", "ve-report")
      }
    ]
  }) }}

    <button class="govuk-button" data-module="govuk-button">Continue</button>

  </form>

{% endblock %}
