{% extends "layout.html" %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Driver & Vehicle Standards Agency Reporting</h1>

  <p class="govuk-body-l">Introductory paragraph here.


<p class="govuk-body">Additional paragraph or two here before before user chooses from options below.</p>

  <form class="form" action="/show-report-answer" method="post">

  {{ govukRadios({
    idPrefix: "show-report",
    name: "show-report",
    fieldset: {
      legend: {
        text: "What do you want to do?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "ocrs-score",
        text: "View your current Operator Compliance Risk Score",
        hint:
        { text: ""
      },
        checked: checked("show-report", "ocrs-report")
      },
      {
        divider: "or"
      },
      {
        value: "ocrs-risk",
        text: "Request a detailed Operator Compliance Risk Score (OCRS) report",
        hint:
        { text: ""
      },
        checked: checked("show-report", "ocrs-risk")
      },
      {
        value: "vth-report",
        text: "Request a Vehicle Test History (maintenance) report",
        hint:
        { text: ""
      },
        checked: checked("show-report", "vth-report")
      },
      {
        value: "ve-report",
        text: "Request a Vehicle Encounter report",
        hint:
        { text: ""
      },
        checked: checked("show-report", "ve-report")
      }
    ]
  }) }}

    <button class="govuk-button" data-module="govuk-button">Continue</button>

  </form>

{% endblock %}
