{% extends "layout.html" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">You've been signed out</h1>
     <p class="govuk-body">
       You’ve been inactive for too long so we’ve signed you out of your Driver & Vehicle Standards Agency account to keep it secure.
     </p>

  <button class="govuk-button" data-module="govuk-button">Sign in</button>
{% endblock %}
