{% extends "layout.html" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<span class="govuk-caption-l">Holdridge Road Haulage Services Ltd</span>
<h1 class="govuk-heading-l">Vehicle Encounter reports</h1>

  <p class="govuk-body-l">Introductory paragraph here.


<p class="govuk-body">Additional paragraph or two here.</p>



<p class="govuk-body">Select parameters here.</p>

<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button" onclick="window.location.href='confirmation-ve-report';">
    Submit
  </button>

  <a class="govuk-link" href="/reports">Cancel</a>
</div>

{% endblock %}
