{% extends "layout.html" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "The date your passport was issued must be in the past",
      href: "#passport-issued-day"
    },
    {
      text: "Enter a postcode, like AA1 1AA",
      href: "#postcode-input"
    }
  ]
}) }}
<span class="govuk-caption-l">Holdridge Road Haulage Services Ltd</span>
<h1 class="govuk-heading-l">Vehicle Encounter reports</h1>

  <p class="govuk-body-l">Introductory paragraph here.


<p class="govuk-body">Additional paragraph or two here.</p>



<p class="govuk-body">Select parameters here.</p>
{{ govukInput({
  label: {
    text: 'Full name'
  },
  id: "full-name-input",
  name: "name",
  autocomplete: "name",
  errorMessage: {
    text: "Enter your full name"
  }
}) }}

<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button" onclick="window.location.href='confirmation-ve-report';">
    Submit
  </button>

  <a class="govuk-link" href="/reports">Cancel</a>
</div>

{% endblock %}
